/*Agrega el selector aquí */

/*Agrega el selector aquí */
div{
  background-color: blue;
}

/* Ignora esto, por ahora */
* {
font-size: 1.5rem;
margin-bottom: 10px;
}
/*Agrega los selectores aquí */
.card {
  background-color: blue;
}
.card1 {
  color: red;
}
.card2{
  color: red;
}
/* Ignora esto, por ahora */
* {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
/*Agrega los selectores aquí */
#eliminar{
  background-color: red;
}

/* Ignora esto, por ahora */
* {
  font-size: 1.2rem;
  padding: 5px;
  margin-bottom: 10px;
}
a[href="https://platzi.com"]{
  background-color: green;
}
/* Ignora esto, por ahora */
* {
  font-size: 1.2rem;
  padding: 5px;
  margin-bottom: 10px;
}

a {
  display: block;
}

/*Agrega los selectores aquí */
* {
  background-color: red;
}
/*Agrega los selectores aquí */
